<div style="display: flex;padding: 10px; display: flex; background-color: rgb(216, 216, 216);">
  <!-- <a href=""><button>templat button url</button></a> -->

  <div style=" width: 100%;" >
    <a href="/profile/<%= usernameLoggedIn %>"><button class="btn btn-secondary">Profile</button></a>
    <a href="/logout"><button class="btn btn-danger">Log Out</button></a>
  </div>
</div> <br><br>