<div style="margin-bottom: 30px;">
  <h3>Klik tombol berikut ke menu terkait</h3>

  <!-- <a href=""><button>templat button url</button></a> -->

    <a href="/"><button>Home</button></a>
    <a href="/services"><button>Ke Halaman Daftar Service</button></a>

    <a href="/login"><button>Ke Halaman Login</button></a>
    <a href="/register"><button>Ke Halaman Register</button></a>
</div>