<div style="margin-bottom: 30px; display: flex;">
  <h3>Klik tombol berikut ke menu terkait</h3> 

  <!-- <a href=""><button>templat button url</button></a> -->

  <div style="margin-top: 20px; margin-left: 60px;">
    <a href="/"><button>Home</button></a>
    <a href="/services/seller/<%=req.params.username"><button>Ke Halaman Daftar Service</button></a>
    <a href="/logout"><button>Log Out</button></a>
  </div>
</div>