<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page Joki Jasa</title>
</head>
<body>
  
  <div style="display: flex; background-color: rgb(196, 196, 196);">
    <h1>Joki Onlen</h1>
    <div style="margin-top: 30px; margin-left: 40px;">
      <a href="/register"><button>Daftar</button></a>
      <a href="/login"><button>Masuk</button></a>
    </div>
  </div>

  <h1>Joki Jasa</h1>

  <h2>selamat datang di Landing Page</h2>

  <p>login username :  <%= username %> </p>
  

</body>
</html>