<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RESTRICT TO SELLER</title>
</head>
<body>
  
  <H1 style="color: red ;"> MAAF, ANDA HARUS SBAGAI SELLER UNTUK BISA AKSES INI</H1>
  <img src="https://asset.kompas.com/crops/baO4XlDMVbJSTwnk9_O1ved_GU4=/127x41:609x363/750x500/data/photo/2021/09/25/614f393b0ac8d.jpg" alt="LORD MAGUIRE MIKIR ">

</body>
</html>