<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User Profile</title>
</head>
<body>
  <h1>Masuk ke halaman Add user Profie</h1>
  
  <form action="" method="post">
    <label for="firstName">First Name: </label>
    <br>
    <input type="text" name="firstName">
    <br>
    <br>

    <label for="lastName">Last Name: </label>
    <br>
    <input type="text" name="lastName">
    <br>
    <br>

    <label for="imageUrl">image Url: </label>
    <br>
    <input type="text" name="imageUrl">
    <br>
    <br>

    <button type="submit">Submit Add</button>

  </form>

</body>
</html>